<h1>Cowboy Burger Menu</h1>

<div class="container animated zoomInLeft delay-0s">
  <div class="row">
    <div class="col-12 col-lg">
      <h2>To Be Devoured:</h2>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}

        <li>
          <p>
            {{this.id}}. {{this.burger_name}}

            <button data-burgerid="{{this.id}}" class="devourburger btn btn-primary">Devour Burger!</button>
          </p>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-12 col-lg">
      <h2>Devoured:</h2>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li>
          <p>
            {{this.id}}. {{this.burger_name}}

            <button data-burgerid="{{this.id}}" class="deleteburger btn btn-primary">Delete Burger!</button>
          </p>
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg">
      <h2 class="animated zoomIn delay-0s">Create a Burger</h2>
      <form id="createburger" class="button-size animated zoomInRight delay-0s">
        <textarea type="text" name="burger"></textarea>
        <button type="submit" class="btn btn-primary">Create Burger!</button>
      </form>

      <h2 class="animated zoomIn delay-0s">Update a Burger</h2>
      <form id="updateburger" class="button-size animated zoomInLeft delay-0s">
        <select name="id">
          {{#each burgers}}
          <option value="{{this.id}}">{{this.burger_name}}</option>
          {{/each}}
        </select>
        <textarea type="text" name="burger" placeholder="burger"></textarea>
        <button type="submit" class="btn btn-secondary">Update burger!</button>
      </form>
    </div>
    <div class="col-12 col-lg">
      <img src="/assets/img/burger2.png" alt="no burger here" height="100px">
    </div>
  </div>
</div>

{{!-- Change devour from false to true requires update --}}
<script src="/assets/js/burgers.js"></script>
{{!-- <script type="text/javascript">
//paste back code from assets/js/indexhandlebars.js to get to work again
</script> --}}